PORT=5000
MONGODB_URI=mongodb+srv://anithap:anithap@healthtracker-cluster.olkzcu4.mongodb.net/healthtracker?retryWrites=true&w=majority&appName=healthtracker-cluster
JWT_SECRET=12345678912345678912345678912345678
JWT_EXPIRES_IN=7d
CLIENT_URL=https://your-vercel-app.vercel.app
